!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %title Title
  %body
    %h1 Boobies!
  %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  %script(src="http://documentcloud.github.com/underscore/underscore-min.js")
  %script(src="http://documentcloud.github.com/backbone/backbone-min.js")
